:root{
     --primary: #393E41;
     --secondary: #D3D0CB;
     --tertiary: #E7E5DF;
     --selector: #6E685E;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 18px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 36px;
}

body{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--primary);
    color: var(--tertiary);
    display: grid;
    justify-content: center;
    align-content: center;
    height: 60px;
}

main {
    background-color: var(--secondary);
    flex: 1;
    display: flex;
}



.lists{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#all, #today, #scheduled, #completed{
    display: flex;
    align-items: center;
    justify-content: left;
}

#all:hover, #today:hover, #scheduled:hover, #completed:hover{
    background-color: var(--selector);
    border-radius: 5px;
    cursor: pointer;
}

.active{
    background-color: var(--selector);
    border-radius: 5px;
}


.general img {
    height: 35px;
    padding: 5px 10px 5px 10px;
    
}

.general {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
}



.general h3{
    padding-right: 10px;
}

.mylist {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

#add-list img{
    height: 30px;
    padding: 5px 5px 5px 10px;
}

#add-list{
    display: flex;
    align-items: center;
}

#add-list:hover{
    background-color: var(--selector);
    border-radius: 5px;
    cursor: pointer;
}

.todos{
    background-color: var(--tertiary);
    flex: 5;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

#list-name{
    display: flex;
    justify-content: space-between;
}

#list-name img{
    height: 35px;
}

#list-name input{
    background-color: var(--tertiary);
    border: none;
    outline: none;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

#list-name img:hover{
    background-color: var(--selector);
    border-radius: 5px;
    cursor: pointer;
}


#display{
    margin-top: 20px;
    padding: 10px;
    height: 80%;
    border-top: solid var(--selector) 1px;
    border-bottom: solid var(--selector) 1px;
    border-radius: 10px;
    overflow-y: auto;
}

#add-todo{
    display: flex;
    align-self: center;
    justify-content: center;
    width: 50%;
    margin-top: 20px;
    opacity: 0.1;
}

#add-todo:hover{
    opacity: 1;
    cursor: pointer;
}

#add-todo img{
    height: 25px;
}

.lists h2{
    padding-left: 5px;
}

footer {
    background-color: var(--primary);
    height: 30px;
    display: grid;
    justify-content: center;
    align-content: center;
    color: var(--tertiary);
}

.completion {
    height: 25px;
}

.completion:hover{
    background-image: url("./assets/radiobox-marked.svg");
    cursor: pointer;
}

.todoitem{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 8px;
    opacity: .5;
    align-self: center;
    
}

.todoitem:hover{
    opacity: 1;
    
}

.todomain{
    display: flex;
    gap: 15px;
    align-items: center;
}

.todoitem + hr{
    opacity: .4;
}




.todoitem img{
    height: 25px;
}

.edition{
    display: flex;
    gap: 10px;
    margin-right: 10px;
    
}

.edition img{
    cursor: pointer;
    opacity: .4;
}

.edition img:hover{
    opacity: 1;
}


/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .hidden {
    display: none;
  }

 

  .list-toggle{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    width: 100%;
  }

  .list-toggle:hover{
    background-color: var(--selector);
    border-radius: 5px;
    cursor: pointer;
  }

  .overdue {
    text-decoration: line-through;
  }

  .list-div{
    display: flex;
  }

  .toggle-list-input{
    font-size: 1rem;
    margin-left: 5px;
    padding-left: 5px;
    
  }

  .cancel-button{
    height: 25px;
    width: 25px;
    align-self: center;
    border-radius: 5px;
    margin-left: 5px;
    justify-self: end;
  }

  .cancel-button:hover{
    background-color: var(--selector);
    cursor: pointer;
  }

  .modal {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 25%;
    padding: 30px;
    display: grid;
    align-items: center;
    gap: 10px;
    background-color: var(--secondary);
    border-radius: 10px;
    border: 1px solid var(--primary);
    
  }

  .modal input:not([type="radio"]){
    font-family:Arial, Helvetica, sans-serif;
    outline: none;
    border: 1px;
    border-radius: 5px;
    height: 30px;
    width: 200px;
    padding-left: 5px;
    background-color: var(--tertiary);

  }

  .modal input:first-child{
    width: 200px;
  }

  .modal input[type="time"], .modal input[type="date"]{
    width: 125px;
  }

  .modal-button{
    height: 25px;
    width: 25px;
    align-self: center;
    border-radius: 5px;
    margin-left: 5px;
  }

  .buttons{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .modal-button:hover{
    background-color: var(--selector);
    cursor: pointer;
  }

  .radios{
    display: flex;
    gap: 5px;
  }